

#main-container {
    font-family: 'Montserrat', sans-serif;
    border: black solid 1px;
    width: 232px;
    height: 320px;
    border-radius: 4px;
    background-color: rgba(99,99,99,.90);
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#display {
    width: 100%;
    margin-top: 20px;
    height: 55px;
    color: white;
    font-size: 40px;
    direction: rtl;
    position: relative;
    right: 18px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

#buttons > .button {
    color: white;
    border: rgb(82, 84, 88) solid 1px;
    width: 56px;
    height: 47px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

.button:active {
    background-color: royalblue;
}




