html {
  scroll-behavior: smooth;
}
.App {
  font-family: Roboto;
  margin-top: 56px;
  border-radius: 0;
}

#brand {
  font-family: Bangers;
  color: cornflowerblue;
  font-size: 7em;
  float: right;
  margin-top: 7%;
  margin-right: 15%;
}

#sub-brand {
  position: absolute;
  bottom:100px;
  font-size: 3em;
  margin-left: 30%;
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
  /* background-color: #333;
  color: white */
}

.success-msg {
  color: green;
  padding: 10px 15px;
}

.error-msg {
  color: red;
  padding: 10px 15px;
}